
<div class="about-banner-main">

  <div class="about-banner">
    <h1>ABOUT US</h1>

  </div>
</div>

<div class="about-component">


<div class="about-main">
  <div class="about-main-content">
    <!-- <h1>About the company</h1> -->
    <h5>
      We at Piatrika Biosystems believe that a good amalgamation of technology
      and bioinformatics will help the world meet the sustainability targets.
    </h5>
  </div>


</div>

<!-- core team -->

<div class="about-team">
  <h1>Team</h1>
  <div class="card-container">

    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/vasu-1-150x150.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Vasudev Kumanduri</h2>
          <h5>CO-FOUNDER & CEO</h5>
        </div>
      </div>
      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>



    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/phani-1-150x150.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Phani Gopal Yarlagadda</h2>
          <h5>CO-FOUNDER & COO</h5>
          <!-- <p>Enterprise Tech & Farming enthusiast with over 15 years of experience in delivering technical expertise as an digital solutions architect for large organisations across Europe & America</p> -->
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>

  </div>
  <div class="card-container">

    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/Sadananda-150x150-modified.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Dr Sadananda Ajanahalli</h2>
          <h5>GROUP LEAD, PLANT BREEDING</h5>
          <p></p>
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>


    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/Prasad-150x150-modified.png" alt=""/>
        </div>
        <div class="card-content">
          <h2>Prasad Bajaj</h2>
          <h5>GROUP LEAD, COMPUTATIONAL BIOLOGY</h5>
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>

    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/SwathiVurrakula-150x150-modified.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Swathi Vurrakula, phD</h2>
          <h5>BUSINESS DEVELOPMENT CONSULTANT</h5>
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>

  </div>
</div>



<!-- adivisory team  -->

<div class="about-advisory-team">
  <h1>Advisory Team</h1>
  <div class="card-container">

    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/drram-1-150x150.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Ram Kaundinya</h2>
          <h5>DIRECTOR GENERAL, FEDERATION OF SEED INDUSTRY, INDIA</h5>
          <p></p>
        </div>
      </div>


      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>



    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/Subbarao.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Dr Subbarao Kolli</h2>
          <h5>FORMER PRESIDENT, AFRICA & MIDDLE-EAST, CORTEVA AGRISCIENCE</h5>
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>

    <div class="card-main-1">
      <div class="card-main">
        <div class="card-img">
          <img src="../../../assets/jose-1-150x150.png" alt="" />
        </div>
        <div class="card-content">
          <h2>Dr Jose Coressa</h2>
          <h5>DISTINGUISHED SCIENTIST, CIMMYT MEXICO</h5>
        </div>
      </div>

      <div class="card-links">
        <img src="../../../assets/linkedin.png" alt="" width="34">
        <img src="../../../assets/twitter.png" alt="" width="34">
      </div>
    </div>

  </div>
</div>

<div class="about-investors">
  <h1>Investors</h1>
  <img src="../../../assets/ankurcapital-300x92.png" alt="" />
</div>




</div>
