<div class="services">
  <h1>Our Services</h1>
  <div class="cards-main" >
    <div class="cards" >
      <img src="../../../assets/bioinformatics.jpg" alt="" class="img" >
      <div class="textBox">
        <h2 class="text head">GENOME ASSISTED BREEDING LINES PREDICTION</h2>
        <p class="text content">
          Our Seed Discovery platform combines genomics, AI, and multidimensional data analysis for precise plant breeding decisions, program design, and monitoring, delivering actionable insights.</p>
      </div>
    </div>
    <div class="cards"  >
      <img src="../../../assets/feature1.jpg" alt="" class="img" >
      <div class="textBox">
        <h2 class="text head">AUTONOMOUS PHENOTYPIC DATA CAPTURE</h2>
        <p class="text content">Our integration of instrumentation and HHC(Hand Held Computer) based data collection, satellite/drone data and mobile apps based data capture helps both field operators and data matrix enrichment for targeted genome phenome studies.</p>
      </div>
    </div>
    <div class="cards">
      <img src="../../../assets/enterprisesolution.jpg" alt="" class="img" >
      <div class="textBox">
        <h2 class="text head">MULTI LOCATION AGRI-TRIALS DESIGN / MANAGEMENT</h2>
        <p class="text content">Our platform facilitates multi location agricultural trials with the help of its dynamic design management system backed by autonomous data capture.</p>
      </div>
    </div>
    <div class="cards"  >
      <img src="../../../assets/Plant-analysis.jpg" alt="" class="img" >
      <div class="textBox">
        <h2 class="text head">AGRO-CLIMATICALLY VARIANT LAND RESOURCE PORTFOLIO FOR AGRI-TRIALS</h2>
        <p class="text content">We provide agro-climatically variant land resource portfolio which helps in diversifying agri-trials in a more robust manner.</p>
      </div>
    </div>
  </div>
  </div>
