.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: aqua;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-size: 50px;
  text-align: start;
  font-weight: 900;
  font-size: xx-large;
}

h1:before {
  content: "";
  align-items: center;
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 5px solid aqua;
}

.cards-main {
  margin-top: 50px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 40px;


}

/* .cards {
  width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  transition: 0.4s;

}
.cards:hover {
  background-color: rgb(40, 39, 39);

  transition: cubic-bezier(0.19, 1, 0.22, 1);
}*/
/* .cards-img {
  width: 500px;
  aspect-ratio: 3/2;
  box-shadow: 2px 2px 2px black;
  border-radius: 8px;
} */
/*
.cards-img:hover {
  filter: brightness(1.2);
  box-shadow: 5px 5px 10px black;
}

.cards-content {
  margin-top: 5px;
}

.cards-content h2 {
  color: aqua;
  font-weight: bolder;
} */



.cards {
  width: 400px;
  height: 280px;
  background: #313131;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.img {
  height: 40%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 0;
}

.textBox {
  opacity: 0;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
  font-size: small;
}

.textBox > .head {
  font-size: 20px;
  color: aqua;
}


.cards:hover > .textBox {
  opacity: 1;
}

.cards:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.cards:hover {
  transform: scale(1.04) rotate(-1deg);
}


@media screen  and (max-width:420px){
  .cards{
    width: 350px;
    height: 280px;
  }

  .img{
    width: 350px;
    height: 280px;
  }

}


