<div class="home-main">
  <div class="home-content">
    <h5 style="color: aqua;font-size:smaller" class="pop">OUR TECHNOLOGY</h5>
    <h1 class="revealUp" [@revealUp]>HOW IT WORKS</h1>
    <p>Our innovative platform helps researchers and plant breeders bring Sustainable Seeds and Agri Chemicals to market faster and cheaper.</p>
    <a [routerLink]="['/contactus']"  routerLinkActive="active" ariaCurrentWhenActive="page"  class="home-button">TALK TO OUR SPECIALISTS</a>

  </div>
  <img src="../../../assets/pngegg.png" loading="lazy" width="700">
</div>
<app-our-services></app-our-services>
<app-goal></app-goal>


